@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
  --Kumbh-Sans: 'Kumbh Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  font-family: var(--Kumbh-Sans);
  background-color: var(--Dark-cyan);
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 35vw bottom 40vh, left 35vw top 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 340px;
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-pic {
  margin-top: 27%;
  border-radius: 50%;
  border: 5px solid white;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.1rem 0.6rem 0.6rem;
}

.user-name {
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 0.6rem;
}

.user-age {
  font-size: 1.1rem;
  color: var(--Dark-gray);
  font-weight: 400;
}

.user-location {
  color: var(--Dark-gray);
  font-weight: 400;
  font-size: 0.9rem;
  padding-bottom: 1.6rem;
}

.stats {
  width: 100%;
  border: none;
  border-top: 1px solid var(--Dark-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.5rem;
  text-align: center;
}

.stats-number {
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
  letter-spacing: 1px;
}

.stats-text {
  color: var(--Dark-gray);
  font-weight: 400;
  font-size: 0.6rem;
  letter-spacing: 2px;
  padding-top: 0.2rem;
}

@media (min-width: 380px) {
  body {
    background-position: right 50vw bottom 40vh, left 45vw top 55vh;
  }
}
