@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Main-paragraph-white: hsla(0, 0%, 100%, 0.75);
  --Stat-headings-white: hsla(0, 0%, 100%, 0.6);
  --Lexend-Deca: "Lexend Deca", sans-serif;
  --Inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-dark-blue);
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  font-size: 15px;
}

.container {
  background-color: var(--Dark-desaturated-blue);
  display: flex;
  align-items: start;
  flex-direction: row;
  width: 850px;
  height: 340px;
  margin: auto;
  border-radius: 6px;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 55px 50px 55px 55px;
  flex-wrap: wrap;
  color: var(--White);
  font-family: var(--Inter);
  letter-spacing: 0.5px;
  width: 100%;
}

.heading {
  padding-bottom: 20px;
  font-size: 0.83rem;
}

.purple {
  color: var(--Soft-violet)
}

.summary {
  padding-right: 60px;
  padding-bottom: 40px;
  color: var(--Main-paragraph-white);
  font-size: 0.65rem;
  line-height: 1.85em;
  font-family: var(--Inter);
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 60px;
  margin-top: 15px;
  text-transform: uppercase;
  line-height: 1.5rem;
}

.stat-group {
  flex-direction: column;
}

.stat-group p {
  color: var(--Stat-headings-white);
  font-family: var(--Lexend-Deca);
  font-size: 0.6rem;
  line-height: 1.3rem;
}

.image {
  width: 110%;
  height: 100%;
  background-color: var(--Soft-violet);
  background-blend-mode: multiply;
  background-image: url(../images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 380px) {
  .container {
    width: 330px;
    height: auto;
    flex-direction: column-reverse;
    justify-content: flex-end;
    /* margin: 25px; */
    text-align: center;
  }

  .image {
    background-image: url(../images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    width: 330px;
    height: 250px;
  }

  .text {
    padding: 30px;
  }

  .heading {
    padding-right: 0;
    font-size: 0.87rem;
  }

  .summary {
    padding-right: 0;
    padding-bottom: 20px;
    font-size: 0.87rem;
  }

  .stats {
    flex-direction: column;
    padding-right: 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }

  .stat-group {
    padding: 15px 0;
  }
}